<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Ironbeers</title>
</head>
<body>
    <nav id="navBar">
        <div id="navContainer">
        <a class="navLink" href="/">Home</a>
        <a class="navLink" href="/beers">Beers</a>
        <a class="navLink" href="/random-beer">Random Beer</a>
        </div>
    </nav>
    {{{body}}}
</body>
</html>

