/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body {
    background-color: #f7f9f9;
    font-family: Arial, Helvetica, sans-serif;
}

#navBar {
    background-color: #2081c3;
    height: 80px;
    display: flex;
    align-items: center;
   }

#navContainer {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-left: 50px;
}

.navLink {
    color: #f7f9f9;
    font-size: 18px;
    text-decoration: none;
}

#indexContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.indexBtn {
    background-color: #2081c3;
    border-radius: 12px;
    color: #f7f9f9;
    text-decoration: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 0 20px;
    margin: 10px;
    box-shadow: 0px 5px 5px #bfbfbf;
}

#indexImg {
    height: 300px;
    display: flex;
    justify-content: center;
}

#indexImgContainer {
    height: 320px;
    margin: 50px 0 0 0;
}

#beersImg {
    height: 200px;
    width: auto;
}

#beersBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#beersText {
    
}